body {
    font-family: 'Henny Penny', cursive;
    display: block;
    height: 100%;
    margin: 8px;
    text-align: center;
    
}

h1, h2, p {
    display: block;
    text-align: center;
}

#clue {
    display: inline-flex;
    align-self: flex-end;
}

#hint, #reset {
    display: inline-flex;
    
    
}

#alphabet {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-flow:column wrap;
    align-content: left;
    margin: 15px auto;
    max-width: 900px;
    text-decoration: none;
}

#alphabet li {
    list-style-type: none;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 35px;
    height: 30px;
    padding-top: 5px;
    border: solid 1px;
}