body {
    font-family: 'Henny Penny', cursive;
    display: block;
    height: 100%;
    margin: 8px;
    text-align: center;
    
}

h1, h2, p {
    display: block;
    text-align: center;
}

#clue {
    display: inline-flex;
    align-self: flex-end;
}

#hint, #reset {
    display: inline-flex;
    
    
}

footer {
    margin-bottom: 10px;
}