body {
    font-family: 'Henny Penny', cursive;
    
}

h1, h2, p {
    display: block;
    text-align: center;
}

#clue {
    display: inline-flex;
    align-self: flex-end;
}

#hint, #reset {
    display: inline-flex;
    align-self: center;
    
}